package page
import "github.com/andrestielau/web-of-hooks/webhooks/html/layout"
templ Health(status string) {
    @layout.Html(nil) {
        @layout.Shell(nil) {
            <h1>Health</h1>
            <h2>Status: {status}</h2>
        }
    }
}