package page
import (
	"woh/webhooks/provide/repo/queries"
)
type EventTypesViewModel struct {
    Data []queries.ListEventTypesRow
    Err error
}

templ EventTypes(v EventTypesViewModel) {
    <h1>EventTypes</h1>
}
