package page
import (
    . "woh/webhooks/renderer/style"
    "woh/webhooks/renderer/layout"
)

templ Health(status string) {
    @layout.Html(nil) {
        @layout.Shell(nil) {
            <h1 class={C("capitalize")}>health</h1>
            <h2 class={C("italic")}>Status: {status}</h2>
        }
    }
}
