package layout

import (
    . "woh/webhooks/render/style"
)

templ Html() {
    <html>
        <head>
              <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        </head>
        <body class={C("bg:black")}>
            { children... }
        </body>
    </html>
}