package applications

import (
    . "woh/webhooks/render/style"
    "woh/webhooks/render/layout"
)
type SecretViewModel struct {
    Data any
}
templ Secrets(vm SecretViewModel, err error) {
    @layout.Html(){
        @layout.Shell(nil) {
            <h1 class={C("capitalize")}>secret</h1>
            
            if err != nil {
                @SecretsError(err)
            }
        }
    }
}

templ SecretsError(err error) {
    <h1>An error has occured</h1>
    <p>{err.Error()}</p>
} 